@page "/Registration"
@using EventsManagementInterface.Data.Models
@using EventsManagementInterface.Data.Models.Attendee
@using EventsManagementInterface.Data.Services
@inject RegistrationService registrationService

<PageTitle>Attendance Registration</PageTitle>

<h1 class="mb-5">Hello, please register your attendance.</h1>
<form @onsubmit="SubmitAttendanceRegistration">
    <div class="card-custom p-3">
        <div class="card-body-custom">
            <div class="row mb-3 mt-3">
                <div class="form-group col-lg-12 col-sm-12">
                    <label for="registrationFirstName">First name</label>
                    <input type="text" class="form-control" id="registrationFirstName" @bind-value="registration.FirstName" style="text-transform:capitalize !important;">
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-lg-12 col-sm-12">
                    <label for="registrationMiddleName">Middle name(s)</label>
                    <input type="text" class="form-control" id="registrationMiddleName" @bind-value="registration.MiddleName" style="text-transform:capitalize !important;">
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-lg-12 col-sm-12">
                    <label for="registrationLastName">Last name</label>
                    <input type="text" class="form-control" id="registrationLastName" @bind-value="registration.LastName" style="text-transform:capitalize !important;">
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-lg-12 col-sm-12">
                    <label for="registrationDateOfBirth">Date of birth</label>
                    <input type="date" class="form-control" id="registrationDateOfBirth" @bind-value="registration.DateOfBirth">
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-lg-12 col-sm-12">
                    <label for="registrationEmailAddress">Email address</label>
                    <input type="text" class="form-control" id="registrationEmailAddress" @bind-value="registration.EmailAddress">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-sm-12">
                    <label for="registrationNumberOfGuests">Number of guests</label>
                    <select class="form-control" id="registrationNumberOfGuests" @bind="registration.NumberOfGuests">
                        @for(int i = 1; i < 11; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>
<Modal @ref="modal">
    <ModalContent Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>@baseModal.Title</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel Style="font-weight:100">@baseModal.Message</FieldLabel>              </Field>
            <Div Class="mb-2"></Div>
            @if (baseModal.Success)
            {
                <Field>
                    <FieldLabel><b>@baseModal.GuestIdentificationNumber</b></FieldLabel>
                </Field>
            }
            else
            {
                <Field>
                    <UnorderedList>
                        @foreach (string error in baseModal.Errors)
                        {
                            <UnorderedListItem>@error</UnorderedListItem>
                        }
                    </UnorderedList>
                </Field>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code {
    private Modal modal;
    private BaseModal baseModal;
    private Data.Models.Registration registration;

    private Task ShowModal()
    {
        return modal.Show();
    }

    private Task HideModal()
    {
        return modal.Hide();
    }

    protected override async Task OnInitializedAsync()
    {
        registration = new Data.Models.Registration();
        registration.DateOfBirth = DateTime.Now.AddYears(-35);
        baseModal = new BaseModal();
        baseModal.Errors = new List<string>();
    }

    public async Task SubmitAttendanceRegistration()
    {
        baseModal = registrationService.RegisterAttendee(registration);
        ShowModal();

        if (baseModal.Success)
        {
            registration = new Data.Models.Registration();
        }
    }
}